.input-wrapper{
    width: 53%;
    margin: 0 auto;
    margin-top: 80px;
    margin-right: 24%;
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    background: url('../../assets/magnifying-glass-solid.svg') no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 35px;
}

.input-wrapper input{
    border: 1px solid #000000;
    background: #F0F2F3;
    border-radius: 45px;
    width: 100%;
    height: 70px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 35px;
}

.input-wrapper input::placeholder{
    color: #707070;
    font-size: 20px;
}